# Cleaning data and explore datasets

In [24]:
#Read tsv (tab separated values)

rawData = open("SMSSpamCollection.tsv").read()
(rawData[0:500])

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

### separating text from labels 'ham' or 'spam'

In [28]:
#split the data wherever there is a tab or a line-break
parsedData = rawData.replace('\t', '\n').split('\n')

## 5 first labels and sentences.
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [37]:
# taking labels by grab only pairs indexes
labelList = parsedData[0::2]
print(labelList[0:5], "\n")

# taking texts by grabbing only impair indexes 
textList = parsedData[1::2] 
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']

["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

### Building dataset of label and features (text)

In [49]:
import pandas as pd

print(len(labelList), len(textList))
print(labelList[-2:1]) #Last item is empty

fullCorpus = pd.DataFrame({
    'label': labelList[:-1],
    'text': textList
})

fullCorpus.head(5)

5571 5570
[]

  label                                               text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

### Doing it all with pandas!

In [50]:
dataset = pd.read_csv("SMSSpamCollection.tsv", sep="\t", header=None)
dataset.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!